In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1678,tt0486655,70000000,135560026,Stardust,Claire Danes|Charlie Cox|Michelle Pfeiffer|Rob...,Matthew Vaughn,This Summer A Star Falls. The Chase Begins.,In a countryside town bordering on a magical l...,127,Adventure|Fantasy|Romance|Family,Paramount Pictures|Ingenious Film Partners|Di ...,8/9/2007,7.0,2007
414,tt0758752,30000000,102820008,Love & Other Drugs,Jake Gyllenhaal|Anne Hathaway|Oliver Platt|Han...,Edward Zwick,Addicted to one-night stands or dependent on o...,"Maggie, an alluring free spirit who won't let ...",112,Drama|Comedy|Romance,Bedford Falls Productions|Dune Entertainment|R...,11/22/2010,6.5,2010
242,tt0417741,250000000,933959197,Harry Potter and the Half-Blood Prince,Daniel Radcliffe|Rupert Grint|Emma Watson|Tom ...,David Yates,Dark Secrets Revealed,"As Harry begins his sixth year at Hogwarts, he...",153,Adventure|Fantasy|Family,Warner Bros.|Heyday Films,7/7/2009,7.3,2009
542,tt0164334,60000000,105178561,Along Came a Spider,Morgan Freeman|Monica Potter|Michael Wincott|D...,Lee Tamahori,The game is far from over.,When a teacher kidnaps a girl from a prestigio...,104,Crime|Mystery|Thriller|Action,Paramount Pictures|AZL Productions KG|David Br...,4/6/2001,5.8,2001
1198,tt0816711,200000000,531865000,World War Z,Brad Pitt|Mireille Enos|Abigail Hargrove|Sterl...,Marc Forster,Remember Philly!,Life for former United Nations investigator Ge...,116,Action|Drama|Horror|Science Fiction|Thriller,Paramount Pictures|GK Films|Skydance Productio...,6/20/2013,6.7,2013

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget']
data['genres'] = data['genres'].str.split('|')

def separate(data, column):
    data[column] = data[column].map(lambda x: x.split('|'))
    data = data.explode(column)
    
    return data

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [0]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()][['original_title', 'imdb_id']]
#+

# 2. Какой из фильмов самый длительный (в минутах)?

In [6]:
answers['2'] = 'Gods and Generals (tt0279111)'

In [0]:
data[data.runtime == data.runtime.max()][['original_title', 'imdb_id']]
#+

# 3. Какой из фильмов самый короткий (в минутах)?

In [7]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [ ]:
data[data.runtime == data.runtime.min()][['original_title', 'imdb_id']]
#+

# 4. Какова средняя длительность фильмов?

In [8]:
answers['4'] = '110'

In [ ]:
data['runtime'].mean()
#+

# 5. Каково медианное значение длительности фильмов?

In [9]:
answers['5'] = '107'

In [ ]:
data['runtime'].median()
#+

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [11]:
answers['6'] = 'Avatar (tt0499549)'

In [ ]:
data[data.profit == data.profit.max()][['original_title', 'imdb_id']]
#+

# 7. Какой фильм самый убыточный?

In [10]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [0]:
data[data.profit == data.profit.min()][['original_title', 'imdb_id']]
#+

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8'] = '1478'

In [ ]:
len(data[data.revenue > data.budget])
#+

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [ ]:
data_2008 = data[data.release_year == 2008]
data_2008[data_2008.profit == data_2008.profit.max()][['original_title', 'imdb_id']]
#+

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [ ]:
data1214 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data1214[data1214.profit == data1214.profit.min()][['original_title', 'imdb_id']]
#+

# 11. Какого жанра фильмов больше всего?

In [0]:
answers['11'] = 'Drama'

In [0]:
genre_max = Counter()

for i in data.genres:
    genre_max += Counter(i)

genre_max.most_common(1)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = 'Drama'

In [ ]:
data_tmp = data[data['profit'] > 0]
pd.Series(data_tmp.genres.sum()).value_counts().index[0]
#+

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [0]:
answers['13'] = 'Peter Jackson'

In [ ]:
df_13 = data.copy()
dirs_cut = separate(df_13, 'director')
data_grp = dirs_cut.groupby(['director']).revenue.sum()
data_grp.sort_values(ascending =False).index[0]
#+

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
answers['14'] = 'Robert Rodriguez'

In [ ]:
df_14 = data.copy()
dirs_cut = separate(df_14, 'director')
genres_cut = dirs_cut.explode('genres')
genre_action = genres_cut[genres_cut.genres == 'Action']
genre_action.director.value_counts().index[0]
#+

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
answers['15'] = 'Chris Hemsworth'

In [ ]:
df_15 = data[data.release_year == 2012]
actors_cut = separate(df_15, 'cast')
data_grp = actors_cut.groupby(['cast']).revenue.sum()
data_grp.sort_values(ascending =False).index[0]
#+

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
answers['16'] = 'Matt Damon'

In [ ]:
df_16 = data[data.budget > data.budget.mean()]
actors_cut = separate(df_16, 'cast')
actors_cut.cast.value_counts().sort_values(ascending =False).index[0]
#+

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
answers['17'] = 'Action'

In [ ]:
df_17 = data.copy()
actors_cut = separate(df_17, 'cast')
genres_cut = actors_cut.explode('genres')
nick_cage = genres_cut[genres_cut.cast == 'Nicolas Cage']
nick_cage.genres.value_counts().index[0]
#+

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [ ]:
df_18 = data.copy()
production_cut = separate(df_18, 'production_companies')
paramount = production_cut[production_cut.production_companies == 'Paramount Pictures']
paramount[paramount.profit == paramount.profit.min()][['original_title', 'imdb_id']]
#+

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
answers['19'] = '2015'

In [ ]:
df_19 = data.copy()
df_group = df_19.groupby(['release_year'])[['revenue']].sum()
display(df_group.loc[df_group.revenue == df_group.revenue.max()])
#+

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
answers['20'] = '2014'

In [ ]:
df_20 = data.copy()
production_cut = separate(df_20, 'production_companies')
warner = production_cut[production_cut.production_companies.str.contains('Warner Bros')]
df_group = warner.groupby(['release_year'])[['profit']].sum()
display(df_group.loc[df_group.profit == df_group.profit.max()])
#+

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
answers['21'] = 'Сентябрь'

In [ ]:
df_21 = data.copy()
df_21['release_month'] = df_21.release_date.apply(lambda date:date.split('/')[0])
month_count = df_21.release_month.value_counts()
display(month_count.index.max())
#+

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
answers['22'] = '450'

In [ ]:
df_22 = data.copy()
df_22['release_month'] = df_22.release_date.apply(lambda date:date.split('/')[0])
month_count = df_22.release_month.value_counts()
summ = month_count['6'] + month_count['7'] + month_count['8']
display(summ)
#+

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)